.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    margin-right: 20px;
    /* Adjust spacing */
    margin-left: 15px;
}

.logo img {
    width: 50px;
    /* Adjust according to your logo size */
}

.title {
    font-family: Arial, sans-serif;
    flex-grow: 1;
    text-align: center;
    margin-left: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f6da;
    color: #333;
}

.styled-link {
    font-family: Arial, sans-serif;
    /* Use the desired font with fallback to a generic sans-serif font */
    font-size: 20px;
    /* Adjust font size as needed */
    color: #fff;
    /* Set the color of the links */
    text-decoration: none;
    /* Remove underline from links if desired */
}

/* Apply font to visited links */
.styled-link:visited {
    color: #c4c4c4;
    /* Set the color of visited links */
}

.menu {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-top: 104px;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.822);
    ;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-right: 1px solid #ccc;
}

.menu a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #363636;
}

.content {
    margin-left: 270px;
    /* Adjust this value to match the menu width */
    padding: 80px;
    margin-top: 50px;
    background-color: #f8f6da;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    margin-top: 99px;
    margin-left: 340px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #333;
}

h4 {
    color: #fff;
    font-size: 22px;
}

p {
    color: #333;
    line-height: 1.6;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    bottom: 20px;
    width: 50px;
    height: 50px;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}